@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/subset-FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --orange: #ffbd54;
  --text-color: #333;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F9F9F9;
  background-image: url("../img/bg.png");
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */

.site-header {
  font-weight: 500;
}

.site-header__top {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f8f8;
  font-size: 14px;
  line-height: 18px;
}

.site-header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 193px;
}

.site-header__address {
  display: flex;
  align-items: center;
  font-style: normal;
}

.site-header__address::before {
  width: 14px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/house.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}


/* PHONES */

.phones {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.phones::before {
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.phones__item {
  position: relative;
  z-index: 1;
}

.phones__item + .phones__item {
  margin-left: 22px;
}

.phones__item + .phones__item::before {
  position: absolute;
  z-index: 1;
  left: -11px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--orange);
  content: "";
}

.phones__link {
  color: var(--text-color);
  text-decoration: none;
}

.phones__link:hover {
  color: var(--orange);
}

.phones__link:active {
  color: var(--text-color);
  opacity: 0.6;
}


/* WORK-HOURS */

.work-hours {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.work-hours::before {
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-image: url("../img/schedule.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.work-hours__item + .work-hours__item {
  margin-left: 17px;
}


@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

  body {
    background-image: url("../img/bg@2x.png");
  }

  .site-header__address::before {
    background-image: url("../img/house@2x.png");
  }

  .phones::before {
    background-image: url("../img/phone@2x.png");
  }

  .work-hours::before {
    background-image: url("../img/schedule@2x.png");
  }

}
